extends ../layouts/default.pug

block append vars
	- title = 'Коммерциализация';

block content
	-
		const heroData = {
			title: 'Гранты до 30млн₽ по программе «Коммерциализация» от Фонда содействия инновациям',
			info: 'Программа направлена на поддержку предприятий с выручкой от 15000000₽, завершивших стадию НИОКР, имеющих интеллектуальную собственность, в планах которых создание или расширение производства инновационной продукции.',
			button: {
				text: 'Получить консультацию'
			},
			videoSrc: 'AKPTMJmDJoY',
		};
		const featuresData = {
			items: [
				{
					preview: require('Images/feature-item-1.svg'),
					caption: 'конкурса в программе',
				},
				{
					preview: require('Images/feature-item-5.svg'),
					caption: 'софинансирование',
				},
				{
					preview: require('Images/feature-item-6.svg'),
					caption: 'срок реализации проекта',
				},
			],
		};
		const directionsData = {
			items: [
				{
					caption: 'Базовые&nbsp;<br/>направления',
					href: '#',
					tags: [
						'Цифровые технологии',
						'Медицина и технологии здоровьесбережения',
						'Новые материалы и химические технологии',
						'Биотехнологии',
						'Новые приборы и интеллектуальные производственные технологии',
						'Ресурсосберегающая энергетика',
					],
				},
				{
					caption: 'Искусственный интеллект',
					href: '/ai.html',
					tags: [
						'Компьютерное зрение',
						'Обработка естественного языка',
						'Интеллектуальные системы поддержки принятия решений',
						'Перспективные методы искусственного интеллекта',
						'Распознавание и синтез речи',
					],
				},
				{
					caption: 'Сквозные технологии',
					href: '/e2e-technologies.html',
					tags: [
						'Большие данные (BigData)',
						'Компоненты робототехники и сенсорики',
						'Системы распределенного реестра',
						'Нейротехнологии',
						'Квантовые технологии',
						'Промышленный интернет (IOT)',
						'Новые производственные технологии',
						'Технологии беспроводной связи',
					],
				},
			],
		};
		const expensesData = {
			modes: ['blue'],
			title: 'На что можно тратить средства гранта по программе «Коммерциализация»',
			items: [
				{
					header: 'до 100%',
					subheader: 'приобретение оборудования (станки, механизмы, приборы и т.д.)',
				},
				{
					header: 'до 100%',
					subheader: 'сертификация и приобретение программных средств',
				},
				{
					header: 'до 50%',
					subheader: 'приобретение комплектующих',
				},
				{
					header: 'до 10%',
					subheader: 'общехозяйственные расходы',
				},
				{
					header: 'до 3 млн',
					subheader: 'производственное проектирование и промышленный дизайн',
				},
				{
					header: 'до 3 млн',
					subheader: 'консалтинг и маркетинг',
				},
				{
					header: 'до 1,5 млн',
					subheader: 'приобретение новых технологий, прав на патенты и т.д.',
				},
			],
			photo: {
				default: require('Images/expenses-commercialization.jpg'),
				mobile: require('Images/expenses-commercialization-mobile.jpg'),
			},
			background: require('Images/backgrounds/expenses-bacground_blue.png')
		};
		const resultsData = {
			title: 'Наши результаты',
			items: [
				{
					header: '>220 млн',
					subheader: 'привлекли нашим клиентам по программам «Коммерциализация»',
				},
				{
					header: '6 мес',
					subheader: 'средний срок получения гранта',
				},
				{
					header: '80%',
					subheader: 'клиентов получают одобрение с первой подачи',
				},
			],
		};
		const faqData = {
			modes: ['with-line'],
			items: [
				{
					caption: 'Как часто проводятся данные программы?',
					content: [
						{
							text: 'Программы категории «Коммерциализация» проводятся раз в 4-6 месяцев, но могут быть объявлены различные тематические направления.',
						},
					],
				},
				{
					caption: 'Заявка на получение гранта одобрена. Деньги выдадут сразу? ',
					content: [
						{
							text: 'Нет. Деньги выплачивают несколькими траншами на основании составленного календарного плана, но на усмотрение Фонда может быть предусмотрена 100% оплата грантовых средств сразу после заключения грантового соглашения.',
						},
					],
				},
				{
					caption: 'Можно ли оплачивать разработку ПО?',
					text: '',
					content: [
						{
							text: 'В рамках прграммы нельзя оплачивать расходы на разработку программного обеспечения. Предусмотрена только приобретение зарегистрированных решений.',
						},
					],
				},
				{
					caption: 'Можно покупать любое оборудование?',
					content: [
						{
							text: 'Нет. Оборудование должно приобретаться только для решения задач, непосредственно связанных с реализацией проекта. Запрещено приобретение оборудования, бывшего в употреблении.',
						},
					],
				},
				{
					caption: 'Какие ограничения на заработные платы?',
					content: [
						{
							text: 'Максимальный уровень заработной платы, начисленной за отчетный период из средств Фонда на каждого работника, составляет не более 240 000 рублей в месяц',
						},
					],
				},
				{
					caption: 'Выручка - это важно?',
					content: [
						{
							text: 'Данный показатель может стать отсекающим при участии в грантовой программе категории Развития, если у компании выручка за последний отчетный период ниже, чем сумма запрашиваемых средста - Фонд может снизить сумму гранта до значения выручки',
						},
					],
				},
			],
		};
		const calendarPlanData = {
			photo: require('Images/calendar-plan-commercialization.svg'),
			background: require('Images/backgrounds/calendar-plan-commercialization-bg.png'),
		};

	+hero(heroData)
	+features(featuresData)
	include ../layouts/requirements
	+directions(directionsData)
	include ../layouts/programms
	+expenses(expensesData)
	+calendar-plan(calendarPlanData)
	+results(resultsData)
	+faq(faqData)

block styles
	link(
		href=require('Styles/pages/commercialization.scss')
		rel='stylesheet')
	link(
		href=require('Styles/layouts/callback.scss')
		rel='stylesheet')
	link(
		href=require('Styles/layouts/callback-popup.scss')
		rel='stylesheet')
