extends ../layouts/default.pug

block append vars
	- title = 'Развитие';

block content
	-
		const heroData = {
			title: 'Гранты до 30млн₽ по программе «Развитие» от Фонда содействия инновациям',
			info: 'Программа направлена на поддержку компаний, уже имеющих опыт разработки и продаж собственной технологичной продукции, а также планирующих разработку или доработку новых видов.',
			button: {
				text: 'Получить консультацию'
			},
		};
		const featuresData = {
			items: [
				{
					preview: require('Images/feature-item-1.svg'),
					caption: 'конкурса в программе',
				},
				{
					preview: require('Images/feature-item-2.svg'),
					caption: 'можно потратить на ФОТ',
				},
				{
					preview: require('Images/feature-item-3.svg'),
					caption: 'срок реализации проекта',
				},
				{
					preview: require('Images/feature-item-4.svg'),
					caption: 'софинансирование',
				},
			],
		};
		const directionsData = {
			items: [
				{
					caption: 'Дорожные <br/>карты НТИ',
					href: '#',
					tags: [
						'Автонет',
						'Аэронет',
						'Маринет',
						'Нейронет',
						'Энерджинет',
						'Хэлснет',
						'Технет',
						'Кружковое движение',
					],
				},
				{
					caption: 'Искусственный интеллект',
					href: '/ai.html',
					tags: [
						'Компьютерное зрение',
						'Обработка естественного языка',
						'Интеллектуальные системы поддержки принятия решений',
						'Перспективные методы искусственного интеллекта',
						'Распознавание и синтез речи',
					],
				},
				{
					caption: 'Сквозные технологии',
					href: '/e2e-technologies.html',
					tags: [
						'Большие данные (BigData)',
						'Компоненты робототехники и сенсорики',
						'Системы распределенного реестра',
						'Нейротехнологии',
						'Квантовые технологии',
						'Промышленный интернет (IOT)',
						'Новые производственные технологии',
						'Технологии беспроводной связи',
					],
				},
			],
		};
		const expensesData = {
			modes: ['green'],
			title: 'На что можно потратить средства гранта по программе «Развитие»',
			items: [
				{
					header: 'до 100%',
					subheader: 'зарплаты и начисления',
				},
				{
					header: 'до 30%',
					subheader: 'соисполнители',
				},
				{
					header: 'до 30%',
					subheader: 'материалы, сырье и комплектующие',
				},
				{
					header: 'до 10%',
					subheader: 'общехозяйственные расходы',
				},
			],
			photo: {
				default: require('Images/expenses-development.jpg'),
				mobile: require('Images/expenses-development-mobile.jpg'),
			},
			background: require('Images/backgrounds/expenses-bacground_green.png')
		};
		const resultsData = {
			title: 'Наши результаты',
			items: [
				{
					header: '>300млн',
					subheader: 'привлекли нашим клиентам по программам Развитие',
				},
				{
					header: '5 месяцев',
					subheader: 'средний срок получения гранта',
				},
				{
					header: '80%',
					subheader: 'клиентов получают одобрение с первой подачи',
				},
			],
		};
		const faqData = {
			modes: ['with-line'],
			items: [
				{
					caption: 'Что может выступать в качестве внебюджетного финансирования?',
					content: [
						{
							text: 'внебюджетные средства частного инвестора (будет необходимо предоставить договор о намерениях) вложения собственных средств предприятия (будет необходимо предоставить протокол собрания учредителей) средства, полученные по кредитным договорам, заключенным с российскими кредитными организациями на цели реализации проекта заемные средства от физического и (или) юридического лица Допускается использование как одного из предложенных вариантов, так и ихкомбинация (при этом суммарный объем внебюджетных средств должен составлять не менее 30% от суммы гранта)',
						},
					],
				},
				{
					caption: 'Как часто проводятся данные программы?',
					content: [
						{
							text: 'Программы категории «Развитие» проводятся раз в три месяца, но могут быть объявлены различные тематические направления',
						},
					],
				},
				{
					caption: 'Заявка на получение гранта одобрена. Деньги выдадут сразу? ',
					text: '',
					content: [
						{
							text: 'Нет. Деньги выплачивают несколькими траншами на основании составленного календарного плана, но на усмотрение Фонда может быть предусмотрена 100% оплата грантовых средств сразу после заключения грантового соглашения.',
						},
					],
				},
				{
					caption: 'Должны ли все сотрудники быть оформлены в штате?',
					content: [
						{
							text: 'Нет. Помимо сотрудников, оформленных в штат, можно  оплачивать работы и (или) услуги физических лиц, привлекаемых к реализации проекта, в том числе для выполнения работ по договорам гражданско-правового характера.',
						},
					],
				},
				{
					caption: 'Кого можно привлечь в качестве соисполнителей?',
					content: [
						{
							text: 'В качестве соисполнителей можно привлечь юридические лица, ИП и плательщиков НПД, при условии, что эти работы зафиксированы в календарном плане проекта при заключении грантового соглашения.',
						},
					],
				},
				{
					caption: 'Выручка - это важно?',
					content: [
						{
							text: 'Данный показатель может стать отсекающим при участии в грантовой программе категории Развития, если у компании выручка за последний отчетный период ниже, чем сумма запрашиваемых средста - Фонд может снизить сумму гранта до значения выручки',
						},
					],
				},
			],
		};
		const calendarPlanData = {
			photo: require('Images/calendar-plan-development.svg'),
			background: require('Images/backgrounds/calendar-plan-development-bg.png'),
		};


	+hero(heroData)
	+features(featuresData)
	include ../layouts/requirements
	+directions(directionsData)
	include ../layouts/programms
	+expenses(expensesData)
	+calendar-plan(calendarPlanData)
	+results(resultsData)
	+faq(faqData)

block styles
	link(
		href=require('Styles/pages/development.scss')
		rel='stylesheet')
	link(
		href=require('Styles/layouts/callback.scss')
		rel='stylesheet')
	link(
		href=require('Styles/layouts/callback-popup.scss')
		rel='stylesheet')
