doctype html

html(lang='ru')
	head
		title Список всех старниц «#project-name»
		meta(
			name='format-detection'
			content='telephone=no')
		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge')
		meta(charset='UTF-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=no')
		link(
			rel='icon'
			href=require('Images/favicons/favicon.svg')
			type='image/svg+xml'
			sizes='any')

		style
	body.index-page-list
		.wrap
			.box
				.head-top
					h3.head-title
						| Страницы проекта&nbsp;
						span «#project-name»:
					a.git-link(
						href='https://github.com/ladown?tab=repositories'
						target='_blank') ladown
				#page-list
