-
	const appealData = {
		title: 'Почему грантополучатели обращаются к Get-Grant',
		items: [
			{
				caption: 'Какие бывают сложности?',
				listType: 'bullets',
				list: [
					'Отсутствие шаблонов',
					'Отсутствие понимания, что нужно отразить в отчетах',
					'Отсутствие понимания, как устроены процессы сдачи отчетности',
					'Неправильное трактование смет',
					'Необходимость продления сроков и изменения заключительного договора с Фондом',
					'Отсутствие взаимодействия с куратором',
				],
			},
			{
				mode: 'active',
				caption: 'Что делаем мы?',
				listType: 'arrow',
				list: [
					'Следим за правильным расходованием средств по бюджетным и внебюджетным расходам. Вовремя вносим изменения в грантовое соглашения для избежания задержек',
					'Даем консультации и следим за тем, чтобы работа 100% шла в соответствии с техническим заданием',
					'Разрабатываем научно-техническую документацию по ГОСТу на основе предоставленной информации, а также готовим приложения (методика и протоколы испытаний, алгоритмы и тд)',
					'Ведем всю коммуникацию с куратором по взаимодействию в системе АС Фонд-М, оперативно вносим правки в договор и согласовываем их с куратором.',
				],
			},
		],
	};

+b.SECTION.appeal
	- const { title, items } = appealData;
	+e.wrap.wrap
		+e.H2.title.h2.font-halvar #{ title }
		+e.items.flex._start
			each item in items
				+e.item(class=`${item.mode ? `_${item.mode}` : ''}`)
					+e.item-caption.h4.font-halvar #{ item.caption }
					if item.listType === 'bullets'
						+e.UL.item-list.list__.h6
							each listItem in item.list
								+e.LI.item #{ listItem }
					if item.listType === 'arrow'
						+e.UL.item-arrow-list.arrow-list__.h6
							each listItem in item.list
								+e.LI.item #{ listItem }
