-
	const articleMoreData = {
		title: 'Читать еще',
		items: [
			{
				href: '#',
				photo: require('Images/case-more-item-1.jpg'),
				date: '13 сентября 2022',
				caption: 'Сквозные технологии',
				text: 'В данной статье речь пойдет о цифровой экономике, а именно - сквозных технологиях, но прежде всего необходимо определиться с этими понятиями.',
			},
			{
				href: '#',
				photo: require('Images/case-more-item-2.jpg'),
				date: '13 сентября 2022',
				caption: 'Искусственный интеллект',
				text: 'На сегодняшний день популярность искусственного интеллекта (ИИ) растет в геометрической прогрессии, все этим интересуются, государство активно финансирует проекты с присутствием ИИ, но, даже при этом, мало кто понимает, что из себя, на самом деле, представляет искусственный интеллект (ИИ). Многие считают, что это, нечто опасное, что-то, что перевернет наш мир с ног на голову, однако ИИ уже давно стал частью нашей повседневной  жизни. ',
			},
			{
				href: '#',
				photo: require('Images/case-more-item-3.jpg'),
				date: '13 сентября 2022',
				caption: 'Искусственный интеллект',
				text: 'На сегодняшний день популярность искусственного интеллекта (ИИ) растет в геометрической прогрессии, все этим интересуются, государство активно финансирует проекты с присутствием ИИ, но, даже при этом, мало кто понимает, что из себя, на самом деле, представляет искусственный интеллект (ИИ). Многие считают, что это, нечто опасное, что-то, что перевернет наш мир с ног на голову, однако ИИ уже давно стал частью нашей повседневной  жизни. ',
			},
		],
	};

+b.SECTION.article-more
	- const { title, items } = articleMoreData;
	+e.wrap.wrap
		+e.header.flex._nowrap._vertical
			+e.H2.title.h3 #{ title }
			+e.A.link.h6.medium-weight(href='#') смотреть все
		+e.items.flex._center
			each item in items
				+e.item
					+e.A.item-photo.flex(href=item.href)
						img(
							src=item.photo
							alt='article-more photo')
					+e.item-content.medium-weight
						+e.item-date #{ item.date }
						+e.A.item-caption.h6(href=item.href) #{ item.caption }
						+e.item-text #{ item.text }
