include ../mixins/mixins-loader.pug

block vars
	-
		let title = 'Title';

		let html = {
			attrs: {
				lang: 'ru',
				dir: 'ltr'
			},
			classList: [],
		};

		let body = {
			attrs: {},
			classList: [],
		};

		let main = {
			attrs: {},
			classList: [],
		};

		let headerModes = [];

doctype html
html(class=html.classList)&attributes(html.attrs)
	head
		block head-start

		title #{ title }

		meta(charset='utf-8')
		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, viewport-fit=cover')
		meta(
			name='format-detection'
			content='telephone=no')

		link(
			rel='icon'
			href=require('Images/favicons/favicon.svg')
			type='image/svg+xml'
			sizes='any')

		block pre-styles

		link(
			href=require('Styles/vendors.scss')
			rel='stylesheet')
		link(
			href=require('Styles/app.scss')
			rel='stylesheet')

		block post-style

		block head-end

	body(class=body.classList)&attributes(body.attrs)
		block body-start

		block header
			include header

		+b.MAIN.main-content(class=main.classList)&attributes(main.attrs)
			block content

		block footer
			include footer

		include popups

		include tooltips

		block pre-scripts

		script(src=require('Scripts/app.js'))

		block post-scripts

		block body-end
