-
	const headerData = {
		logo: {
			name: 'logo',
			viewBox: '0 0 137 22',
		},

		nav: [
			{
				url: '#',
				text: 'Конкурсы',
				subblock: [
					{
						url: '#',
						text: 'Развитие',
					},
					{
						url: '#',
						text: 'Коммерциализация',
					},
				],
			},
			{
				url: '#',
				text: 'Отчетность',
			},
			{
				url: '#',
				text: 'Кейсы',
			},
			{
				url: '#',
				text: 'Вебинар',
			},
			{
				url: '#',
				text: 'О компании',
			},
			{
				url: '#',
				text: 'Контакты',
			},
		],

		socials: [
			{
				url: '#',
				icon: {
					name: 'telegram',
					viewBox: '0 0 20 17',
				},
			},
			{
				url: '#',
				icon: {
					name: 'whatsapp',
					viewBox: '0 0 15 15',
				},
			},
			{
				url: '#',
				icon: {
					name: 'phone',
					viewBox: '0 0 15 15',
				},
			},
		],

		button: {
			modes: ['small', 'light'],
			text: 'Обратный звонок',
		},
	};


+b.HEADER.header(class=`${headerModes.length ? `_${headerModes.join(' _')}` : ''} js-header`)
	- const { logo, nav, socials, button } = headerData;
	+e.wrap.wrap.flex._nowrap._vertical
		+e.A.logo.flex(href='/')
			+icon(logo)
		+e.menu.flex._nowrap._vertical.js-header-menu
			+e.NAV.nav.flex._nowrap._vertical.js-accordion-wrap(data-responsive='980')
				each link in nav
					+e.nav-item(class=link.subblock && 'js-tooltip-wrap js-accordion')
						+e.A.link.flex._nowrap._vertical(
							href=link.url
							class=link.subblock && 'js-tooltip js-accordion-trigger'
							data-responsive=link.subblock && '980'
							data-tooltip-trigger=link.subblock && 'mouseenter click'
							data-tooltip-placement=link.subblock && 'bottom-start')
							+e.SPAN.link-text #{ link.text }
							if link.subblock
								+e.SPAN.link-arrow
									+icon({name: 'arrowDown', viewBox: '0 0 12 7'})
						if link.subblock
							+e.nav-subblock.js-tooltip-content.js-accordion-content
								+e.nav-inner.flex._nowrap._column
									each sublink in link.subblock
										+e.A.link-subblock(href=sublink.url) #{ sublink.text }
			+socials(socials)
			+button(button).js-popup-callback
				| #{ button.text }
		+socials(socials)
		+e.BUTTON.menu-button.js-header-button
			span
