-
	const portraitData = {
		title: 'Портрет стартапа и инвестиционное предложение:',
		items: [
			{
				caption: 'Софинансирование грантов ФСИ',
				logos: [
					require('Images/fasie-logo.png'),
				],
				list: [
					'Размер гранта <span class="medium-weight">до 30 млн рублей</span>',
					'Сумма софинансирования <span class="medium-weight">от 20 до 50%</span>',
				],
			},
			{
				caption: 'Софинансирование грантов РФРИТ/Сколково',
				logos: [
					require('Images/rfit-logo.png'),
					require('Images/sk-logo.svg'),
				],
				list: [
					'Размер гранта <span class="medium-weight">от 50 до 300 млн рублей</span>',
					'Сумма софинансирования <span class="medium-weight">от 30 до 50% </span>',
				],
			},
		],
	};

+b.SECTION.portrait
	- const { title, items } = portraitData;
	+e.wrap.wrap
		+e.H2.title.h3.font-halvar #{ title }
		+e.items.flex
			each item, index in items
				+e.item(class=`${index !== 0 ? '_light' : ''}`)
					+e.item-caption.medium-weight.h4 #{ item.caption }
					+e.item-logos.flex._right
						each logo in item.logos
							img(
								src=logo
								alt='logo')
					+e.UL.item-list.list__(class=`${index !== 0 ? '_dark' : ''} h5`)
						each listItem in item.list
							+e.LI.item !{ listItem }
