-
	const repoerServicesData = {
		title: 'Услуги по сдаче отчетности',
		items: [
			{
				caption: 'Закрытие промежуточного этапа',
				list: [
					'Акт о выполнении этапа;',
					'Разработка научно-технического отчета (НТО);',
					'Регистрация НТО в ФГАНУ ЦИТиС;',
					'Финансовый отчет о расходовании средств гранта;',
					'Пролонгация этапа, при необходимости;',
					'Дополнительные отчетные документы, при наличии.',
				],
				price: [
					{
						main: '150000₽',
					},
				],
				priceCondition: [
					'по факту закрытия этапа',
				],
			},
			{
				caption: 'Закрытие заключительного этапа',
				list: [
					'Акт о выполнении НИОКР;',
					'Разработка заключительного НТО;',
					'Разработка приложений к НТО;',
					'Подготовка и отправка заявки на регистрацию результата интеллектуальной деятельности (РИД) в Роспатент;',
					'Регистрация РИД в ФГАНУ ЦИТиС;',
					'Регистрация НТО в ФГАНУ ЦИТиС;',
					'Отчет о целевом использовании средств гранта;',
					'Акт о выполнении этапа;',
					'Финансовый отчет о расходовании средств гранта;',
					'Финансовый отчет о расходовании внебюджетных средств;',
					'Пролонгация этапа, при необходимости;',
					'Дополнительные отчетные документы, при наличии.',
				],
				price: [
					{
						main: '200000₽',
					},
				],
				priceCondition: [
					'по факту закрытия этапа',
				],
			},
			{
				caption: 'Комплексное сопровождение до закрытия грантового соглашения',
				list: [
					'Разработка подробной сметы затрат на проведение НИОКР;',
					'Внесение изменений в договор с Фондом;',
					'Консультация по работе с Фондом;',
					'Аудит выполнения НИОКР не реже 1 раза в месяц;',
					'Акт о выполнении НИОКР;',
					'Разработка заключительного НТО;',
					'Разработка приложений к НТО;',
					'Подготовка и отправка заявки на регистрацию результата интеллектуальной деятельности (РИД) в Роспатент;',
					'Регистрация РИД в ФГАНУ ЦИТиС;',
					'Регистрация НТО в ФГАНУ ЦИТиС;',
					'Отчет о целевом использовании средств гранта;',
					'Разработка промежуточного научно-технического отчета (НТО);',
					'Финансовый отчет о расходовании средств гранта;',
					'Финансовый отчет о расходовании внебюджетных средств;',
					'Пролонгация этапов, при необходимости;',
					'Дополнительные отчетные документы, при наличии.',
				],
				price: [
					{
						main: 'до 350 000 руб',
						sub: 'при сроке гранта 12 месяцев',
					},
					{
						main: 'до 500 000 руб',
						sub: 'при сроке гранта 18 месяцев',
					},
					{
						main: 'до 650 000 руб',
						sub: 'при сроке гранта 24 месяцев',
					},
				],
				priceCondition: [
					'По факту закрытия промежуточного этапа - 150 000 руб',
					'По факту закрытия финального этапа - 200 000 руб',
				],
			},
		],
	};

+b.SECTION.report-services
	- const { title, items } = repoerServicesData;
	+e.wrap.wrap
		+e.H2.title.h2.font-halvar #{ title }
		+e.items
			each item in items
				+e.item.flex._nowrap(class=item.list.length >= 7 && 'js-more' data-more-showed='6')
					+e.item-cell._left
						+e.item-caption.font-halvar #{ item.caption }
						+e.item-list.h6
							each text in item.list
								p(class=item.list.length >= 7 && 'js-more-item') #{ text }
						if item.list.length >= 7
							+e.BUTTON.item-more.text-underline.js-more-button Показать полностью
						+button({modes: ['transparent']})
							| Оставить заявку
					+e.item-cell._right
						+e.item-content
							+e.item-price
								+e.item-label.font-halvar Стоимость
								+e.item-prices
									each price in item.price
										+e.item-price-block
											+e.item-price-main.h5 #{ price.main }
											if price.sub
												+e.item-price-sub.h6 #{ price.sub }
							+e.item-condition
								+e.item-label.font-halvar Условия оплаты
								+e.item-conditions
									each condition in item.priceCondition
										+e.item-condition-block.h5 #{ condition }
							+button({modes: ['transparent']})
								| Оставить заявку
