-
	const servicesData = {
		title: 'Что входит в наши услуги',
		items: [
			'Разработка технической документации (включая научно-технические отчеты, руководство пользователя, описание программ, методики и программы испытаний, протоколы испытаний) в соответсвии с ГОСТ.',
			'Подготовка финансового отчета за каждый период КП.',
			'Формирование и отправка заявки на регистрацию интеллектуальной собственности в Роспатент.',
			'Регистрация результатов интеллектуальной деятельности в ФГАНУ ЦИТиС.',
			'Консультирование по расходованию грантовых (собственных) средств, аудит имеющейся документации.',
			'Внесение изменений в договор с Фондом.',
		],
		background: require('Images/backgrounds/services-bg.png')
	};

+b.SECTION.serivces
	- const { title, items, background } = servicesData;
	+e.wrap.wrap
		+e.H2.title.h2.font-halvar #{ title }
		+e.items
			each item, index in items
				+e.item.flex._nowrap._vertical._justify.js-hover-item(class=index === 0 && 'is-active')
					+e.item-count.h2.font-halvar.medium-weight.color-blue 0#{ index + 1 }
					+e.item-text.h6 #{ item }
	+e.background.no-pe
		img.object-fit(
			src=background
			alt='services-background')
