//- rub > dol > uan

-
	const stepsData = {
		title: 'Этапы работы',
		items: [
			'Предквалификация проекта и оценка возможности привлечения грантовой поддержки',
			'Подбор оптимальной программы с учетом специфики проекта и компании',
			'Брифинг и позиционирование проекта в рамках подобранной программы',
			'Разработка документации и отправка заявки в Фонд',
			'Подготовка к защите или выездному мониторингу со стороны Фонда',
			'Юридическое и техническое сопровождение согласования договора с Фондом, сбор документов и корректировка технического задания ',
			'Консультирование и объяснение нюансов для дальнейшей работы с отчетностью, консультация и предоставление дополнительных материалов',
			'Опционально сопровождение при сдаче отчетности',
		],
		firstColumn: [
			'Предквалификация проекта и оценка возможности привлечения грантовой поддержки',
			'Брифинг и позиционирование проекта в рамках подобранной программы',
			'Подготовка к защите или выездному мониторингу со стороны Фонда',
			'Консультирование и объяснение нюансов для дальнейшей работы с отчетностью, консультация и предоставление дополнительных материалов',
		],
		secondColumn: [
			'Подбор оптимальной программы с учетом специфики проекта и компании',
			'Разработка документации и отправка заявки в Фонд',
			'Юридическое и техническое сопровождение согласования договора с Фондом, сбор документов и корректировка технического задания ',
			'Опционально сопровождение при сдаче отчетности',
		],
	};

+b.SECTION.steps
	- const { title, items, firstColumn, secondColumn } = stepsData;
	+e.wrap.wrap
		+e.H2.title.h2.font-halvar #{ title }
		+e.items
			//- +e.column._left
			//- 	each item, index in firstColumn
			//- 		+e.item.font-halvar
			//- 			span.color-blue #{ index + 1 }/&nbsp;
			//- 			| #{ item }
			//- +e.column._right
			//- 	each item, index in secondColumn
			//- 		+e.item.font-halvar
			//- 			span.color-blue #{ index + 1 }/&nbsp;
			//- 			| #{ item }

			each item, index in items
				+e.item.font-halvar
					span.color-blue #{ index + 1 }/&nbsp;
					| #{ item }
