-
	const teamData = {
		title: 'Консультанты по грантам',
		items: [
			{
				photo: require('Images/team-item-1.jpg'),
				name: 'Ремесленников Андрей',
				post: 'Аспирант Национальной и региональной экономики, участник экспертной группы по оценке эффективности национальной программы "Цифровая экономика".',
				text: [
					'Спикер акселерационной программы по Искусственному Интеллекту, эксперт по стратегическому планированию и мерам государственной поддержки в рамках 550,554 и 555 Постановления Правительства.',
					'Привлечено более 900 миллионов рублей для технологичных компаний.',
				],
			},
			{
				photo: require('Images/team-item-2.jpg'),
				name: 'Александр Толпыгин',
				post: 'Более 15 лет опыта успешной реализации крупных ИТ проектов',
				text: [
					'Экспертные компетенции в области B2G коммерциализации.',
					'Более 200 млн. рублей привеченных грантов.',
				],
			},
			{
				photo: require('Images/team-item-3.jpg'),
				name: 'Илья Мазутский',
				post: 'Phd Мехмат МГУ. 8 лет инвестиционного финансирования. Эксперт по финансовому риск-менеджменту.',
				text: [
					'Занимался исследованием и разработкой автоматических торговых стратегий с спользованием количественных методов.',
					'Портфельное финансирование - более чем 15 проектов, стратегическое планирование и трекер акселератора SmartC.',
				],
			},
			{
				photo: require('Images/team-item-4.jpg'),
				name: 'Кирилл Алексеев',
				post: 'Химик-исследователь. К.Т.Н., 6 лет педстажа в ВО и СПО',
				text: [
					'7 лет работы в УрО РАН по направлению хемоинформатита, QSAR.',
					'Преподаватель года 2020-2021',
				],
			},
			{
				photo: require('Images/team-item-5.jpg'),
				name: 'Кирилл Алексеев',
				post: 'Химик-исследователь. К.Т.Н., 6 лет педстажа в ВО и СПО',
				text: [
					'7 лет работы в УрО РАН по направлению хемоинформатита, QSAR.',
					'Преподаватель года 2020-2021',
				],
			},
			{
				photo: require('Images/team-item-6.jpg'),
				name: 'Савелий Воробьев',
				post: '3 года разработки технической документации для крупных ИТ-компаний',
				text: [
					'Патентный поверенный.',
					'Зарегистрировано более 70 объектов  интеллектуальной собственности и 20 регистраций ПО в «Едином реестре российских  программ» более 3-х лет',
				],
			},
			{
				photo: require('Images/team-item-7.jpg'),
				name: 'Евгений Студеникин',
				post: 'Выпускник Юридической академии. Юрист в сфере бюджетно-налоговой, и иных сферах финансовой деятельности.',
				text: [
					'Реализовал более 25 проектов с привлечением мер государственной поддержки в области  тяжелой промышленности и ИТ на общую сумму более 300 млн. рублей.',
					'Участник АКСЕЛЕРАЦИОННОЙ программы INNOACCELAI',
				],
			},
			{
				photo: require('Images/team-item-8.jpg'),
				name: 'Самвел Цормутян',
				post: 'Участие в пяти научно-исследовательск их работах в сфере международной экономики и международного бизнеса',
				text: [
					'Бывший участник проектной команды ВЭБ РФ.',
					'Привлечено более 100 млн. рублей в виде грантовой поддержки от Фонда Содействия Инновациям для производственных и IT компаний',
				],
			},
			{
				photo: require('Images/team-item-9.jpg'),
				name: 'Алексей Ильин',
				post: 'Участник международного экономического форума',
				text: [
					'Разработка бизнес-планов в сфере FMCG.',
					'Привлечено 250 млн в виде грантовых средств.',
				],
			},
			{
				photo: require('Images/team-item-10.jpg'),
				name: 'Марго Столяр',
				post: 'Специалист по внедрению инноваций в производственные процессы (Опыт работы в компании по разработке оборудования для аддитивного производства DMG MORI более года)',
				text: [
					'Создатель и руководитель студенческого технологического стартапа по разработке автономного роботизированного комплекса.',
					'Призер кубка ТРИЗ Саммита в 2020/21 году в номинации "Изобретательство".',
				],
			},
			{
				photo: require('Images/team-item-11.jpg'),
				name: 'Анжела Кузовова',
				post: 'Участвовала в реализации 8 грантовых проектов от РФФИ, РНФ, ФЦП',
				text: [
					'Опыт работы в CAD системах.',
					'Более 20 публикаций в российских и зарубежных журналах, 2 свидетельства на программы для ЭВМ.',
				],
			},
			{
				photo: require('Images/team-item-12.jpg'),
				name: 'Артем Ярцев',
				post: 'Участвовал в 5 проектах по разработке разных АПК, выигравших конкурс по ПП №218 ',
				text: [
					'Опубликовано более 8 научных статей в РИНЦ, в т.ч. 1 в международном журнале "Russian Aeronautics" в направлении автоматизированных систем управлений.',
					'2 патента на полезные модели по направлению разработки составных частей для космической техники.',
				],
			},
			{
				photo: require('Images/team-item-13.jpg'),
				name: 'Игорь Хромов',
				post: 'Окончил аспирантуру Высшей школы экономики. Присвоена квалификация «Исследователь. Преподаватель-исследователь» по специализации Системы, сети и устройства коммуникаций',
				text: [
					'Опубликовано более 14 научных статей в направлении беспроводных нательных сетей.',
					'Награжден дипломами за научно-технические разработки и благодарностями за представление своего проекта на выставках.',
				],
			},
		],
	};

+b.SECTION.team
	- const { title, items } = teamData;
	+e.wrap.wrap
		+e.H2.title.h2.font-halvar #{ title }
		+slider-nav({id: 'team'})
		+e.slider.swiper.js-slider-team
			.swiper-wrapper
				each slide in items
					+e.slide.swiper-slide
						+e.slide-photo
							img.object-fit(
								src=slide.photo
								alt='team person photo')
						+e.slide-name.font-halvar.medium-weight.h3 #{ slide.name }
						+e.slide-post.h5 #{ slide.post }
						+e.slide-text.h6
							each text in slide.text
								p #{ text }
