-
	const webinarHeroData = {
		label: 'Онлайн вебинар',
		title: 'Оcновные нюансы участия в грантовых программах от Фонда содействия инновациям',
		button: {
			modes: ['gradient', 'font-halvar', 'big'],
			text: 'Регистрация',
		},
		photo: [
			require('Images/webinar-hero-2.png'),
			require('Images/webinar-hero-1.svg'),
			require('Images/webinar-hero-3.jpg'),
			require('Images/webinar-hero-4.jpg'),
		]
	};

+b.SECTION.webinar-hero
	- const { label, title, button, photo } = webinarHeroData;
	+e.wrap.wrap.flex._nowrap._vertical
		+e.cell._left
			+e.label.h5.font-halvar #{ label }
			+e.H1.title.h2.font-halvar #{ title }
			+button(button)
				| #{ button.text }
		+e.cell._right
			each photoItem in photo
				+e.photo.js-reveal-slideUp.js-reveal-interval
					img.object-fit(
						src=photoItem
						alt='webinar hero')
	+e.PICTURE.background.no-pe
		source(
			srcset=require('Images/backgrounds/webinar-bg-mobile.png')
			media='(max-width: 580px)')
		img.object-fit(
			src=require('Images/backgrounds/webinar-bg.png')
			alt='webinar-background')
