-
	const workData = {
		title: 'Что мы делаем',
		features: [
			{
				icon: require('Images/icon-1.svg'),
				caption: 'Первичная оценка',
				text: 'Под каждый проект подбираем наиболее подходящие меры грантовой поддержки, исходя из его специфики, предоставляем рекомендации по стратегическому планированию с целью увеличения шансов на получение гранта.',
			},
			{
				icon: require('Images/icon-2.svg'),
				caption: 'Документы',
				text: 'Мы берем на себя заработку документов под ключ: 80% делаем самостоятельно, для оставшихся 20% готовим шаблоны - от клиента необходимо только их заполнение и сбор бухгалтерских документов.',
			},
			{
				icon: require('Images/icon-3.svg'),
				caption: 'Сопровождение',
				text: 'Помогаем при подготовке к очной защите и выездному мониторингу. Готовим презентационные материалы и согласовываем техническое задание с куратором  при успешном прохождении конкурсного отбора.',
			},
		],
	};

+b.SECTION.work.js-work
	- const { title, features } = workData;
	+e.wrap.wrap
		+e.H2.title.h2.font-halvar.js-reveal-slideRight #{ title }
		+e.features.flex
			each feature in features
				+e.feature.js-reveal-fadeIn.js-reveal-interval
					+e.feature-icon
						img(
							src=feature.icon
							alt='feature icon')
					+e.feature-caption.h4.font-halvar #{ feature.caption }
					+e.feature-text #{ feature.text }
		+e.progress.flex._column._nowrap.js-work-content
			+e.progressbar.flex._nowrap
				span.progressbar-line.js-work-progress
				span.progressbar-line.js-work-progress
			+e.progress-content.flex._nowrap._start._justify.font-halvar
				+e.progress-item._big.js-work-item
					+e.progress-header.flex._nowrap
						| 80 <span>%</span>
					+e.progress-subheader Это работа <span class="color-blue">наших сотрудников</span>
				+e.progress-item.js-work-item
					+e.progress-header.flex._nowrap
						| 20 <span>%</span>
					+e.progress-subheader.h6 Это документы<br/> и информация,<br/> которые <span class="color-blue">необходимо предоставить клиенту</span>
	+e.PICTURE.background.no-pe
		img.object-fit(
			src=require('Images/backgrounds/work-bg.png')
			alt='work-background')
